:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-weight: 700;
  font-size: 96px;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}
h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 20px 20px;
}

.hero p {
  font-size: 36px;
  line-height: 54px;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #272142;
}

.content-container {
  padding: 80px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 85px;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 36px;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}

.content img {
  border-radius: 20px;
}

.content {
  margin: 30px;
}

.btn-branding {
  color: #ffffff;
  background: var(--branding-color);
  padding: 18px 30px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--default-font-family);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  background: white;
  padding: 18px 30px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--default-font-family);
}

.project-description {
  padding: 90px 60px;
}

.contact-info {
  text-align: center;
}

.contact-info a {
  text-decoration: none;
  color: var(--branding-color);
  padding: 5px 10px;
}

.contact-info a:hover {
  background: var(--branding-color);
  color: white;
  border-radius: 20px;
}

.logo {
  max-width: 150px;
}

.active {
  color: var(--branding-color) !important;
}

.nav-link {
  padding: 0 30px !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

footer {
  margin: 40px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  font-size: 22px;
  line-height: 36px;
  text-decoration: none;
  color: black;
  opacity: 0.7;
  text-align: center;
  margin-top: 10px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 30px 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer p a {
  text-decoration: none;
  color: var(--branding-color);
}

footer .btn-branding:hover {
  background: var(--secondary-color);
  color: #272142;
}

@media (max-width: 800px) {
  h1,
  .content h1 {
    font-size: 42px;
    line-height: 58px;
  }
  h2 {
    font-size: 36px;
  }
  h4 {
    font-size: 24px;
  }

  .btn {
    font-size: 18px;
  }

  .hero {
    padding: 70px 20px;
  }
  .project-description {
    padding: 0;
    font-size: 14px;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 5px;
  }
  .content {
    text-align: center;
  }

  .content-container {
    padding: 30px 15px;
  }
  footer .email-link {
    font-size: 16px;
  }
  footer p {
    font-size: 12px;
  }
}
