:root {
  --branding-color: #715acb;
  --secondary-color: #f3e2f9;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-weight: 700;
  font-size: 58px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}
h3 {
  font-size: 32px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  text-align: center;
  padding: 20px 20px 5px 20px !important;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.4)
    ),
    url("../images/millenium-bridge.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero p {
  font-size: 36px;
  line-height: 48px;
  color: #272142;
  margin: 0 auto;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--secondary-color);
}

.content-container {
  padding: 80px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 85px;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 24px;
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 36px;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}

.content img {
  border-radius: 20px;
  margin: 0 20px;
}

.content {
  margin: 30px 0 0 30px;
}

section.secondary {
  background-color: #f8f8f8;
  border-radius: 20px;
}

.btn-branding {
  color: #ffffff;
  background: var(--branding-color);
  padding: 12px 20px;
  border-radius: 15px;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--default-font-family);
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  opacity: 0.6;
  color: var(--branding-color);
  border-color: var(--branding-color);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  background: white;
  padding: 18px 30px;
  border-radius: 15px;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--default-font-family);
}

.btn-branding-outline:hover {
  opacity: 0.6;
  color: #ffffff;
  background: var(--branding-color);
}

.project-description {
  padding: 10px 60px;
}
.contact-box {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-info {
  text-align: center;
}

.contact-info a {
  text-decoration: none;
  color: var(--branding-color);
  padding: 5px 10px;
}

.contact-info a:hover {
  background: var(--branding-color);
  color: white;
  border-radius: 20px;
}

.logo {
  max-width: 60px;
  margin-left: 20px;
}

.myphoto {
  margin-left: 80px;
}

.active {
  color: var(--branding-color) !important;
}

.nav-link {
  padding: 0 30px !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-brand {
  font-family: cursive;
  margin-left: 10px;
}

footer {
  margin: 40px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 15px;
  margin: 0 0 0 20px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  font-size: 22px;
  line-height: 36px;
  text-decoration: none;
  color: black;
  opacity: 0.7;
  text-align: center;
  margin-top: 10px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 30px 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer p a {
  text-decoration: none;
  color: var(--branding-color);
}

footer .btn-branding:hover {
  background: var(--secondary-color);
  color: #272142;
}

@media (max-width: 800px) {
  h1,
  .content h1 {
    font-size: 42px;
    line-height: 58px;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 24px;
  }

  .btn {
    font-size: 12px;
    padding: 5px 25px;
    border-radius: 30px;
  }

  .hero {
    padding: 70px 20px;
  }
  .project-description {
    padding: 0 !important;
    font-size: 14px;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 5px;
  }
  .content {
    text-align: center;
    margin: 0;
  }

  .content-container {
    padding: 30px 15px;
  }
  footer .email-link {
    font-size: 16px;
  }
  footer p {
    font-size: 12px;
  }
  .navbar-brand {
    margin: none;
  }
}
